.root {
	position: relative;
	margin-top: 36px;
}

.input {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom-width: rem(2px);
	border-bottom-color: black;
	border-radius: 0;
	color: darkblue;
	background-color: gray;
}

.label {
	font-weight: 400;
}
