/* styles.module.css */
.bg0 {
	flex-direction: column;
	justify-content: center;
	object-fit: fill;
	min-height: max-content;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
}
.greenbg {
	background: url("../../assets/greenbg.svg");
}

.bluebg {
	background: url("../../assets/bluebg.svg");
}

.greybg {
	background: url("../../assets/greybg.svg");
}
