.loader-container {
	background-image: url("/assets/loader-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.loader {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 150px;
	width: 150px;
}
