.heading {
	background: url("assets/leaderboard/Item Desc.svg") no-repeat;
	background-size: cover;
	font-size: 21px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.BoxPseudo {
	height: 80vh;
	background: url("assets/bgcard.svg") center;
	background-size: 80vw 80vh;
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-between;
	flex-flow: column nowrap;
	align-items: center;
	border-radius: 20px;
	width: 80%;
	padding: 1rem;
}

.Box {
	width: 62%;
}

.Nav {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

@media (max-width: 1250px) {
	.Box,
	.Nav {
		width: 75%;
	}
}

@media (max-width: 1200px) {
	.BoxPseudo {
		height: 70vh;
		background-size: contain;
	}
}
