.bg0 {
	background: url("/assets/regbg.svg");
	flex-direction: column;
	justify-content: center;
	object-fit: fill;
	min-height: max-content;
	height: 100vh;
	overflow-y: hidden;
	overflow-x: hidden;
}
