.image {
	background-image: url("assets/brownbtn.svg");
	background-size: auto;
	background-position: center;
	padding: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
}

@media (max-width: 750px) or (max-height: 650px) {
	.image {
		background-image: url("assets/leaderboard/mob_brownbtn.svg");
		background-size: contain;
	}
}
