@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-red: transparent;
	--color-purple: #22d1fe;
	--color-white: #fff;
	--color-black-1: #111;
	--color-black-2: #222;
	--color-black-3: #444;
	--speed-normal: 1s;
	--speed-fast: 0.8s;
}

* {
	margin: 0;
	padding: 0;
}

canvas {
	display: block;
}

@font-face {
	font-family: "PixelifySans";
	src: url("@public/assets/fonts/PixelifySans.ttf") format("truetype");
}

@font-face {
	font-family: "PressStart2P";
	src: url("@public/assets/fonts/PressStart2P-Regular.ttf") format("truetype");
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.fade-in {
	animation: fadeIN 0.5s ease-in-out;
}

.fade-out {
	animation: fadeOUT 0.5s ease-in-out;
}

.hide {
	opacity: 0;
	pointer-events: none;
}

@keyframes fadeIN {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeOUT {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

body {
	font-family: "Outfit", sans-serif;
	background-color: #111111;
}

.glass {
	background: rgba(128, 128, 128, 0.15);
	/* box-shadow: 0 2px 8px 0 #22cfee4e; */
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	/* border-radius: 5px; */
	border: 1px solid rgba(255, 255, 255, 0.156);
}

.clipBox {
	clip-path: polygon(0 0, 100% 0, 100% 60%, 50% 60%, 50% 100%, 0 100%);
}

.clipBtn {
	clip-path: polygon(0 0, 90% 0, 100% 50%, 100% 100%, 0 100%);
}

.clipBtn2 {
	clip-path: polygon(10% 0, 90% 0, 100% 50%, 100% 100%, 0 100%, 0 50%);
}

.landing button {
	position: relative;
	word-break: keep-all !important;
	word-wrap: break-word !important;
	width: fit-content;
	text-decoration: none;
	text-align: center;
	color: var(--color-white);
	transition: var(--speed-normal);
	color: #22d1ee !important;
	border: 1px solid var(--color-red);
}

.firstButton {
	margin-left: 90px;
	padding-left: 10px;
	margin-bottom: 5px;
}

.noBreak {
	word-break: keep-all !important;
	word-wrap: break-word !important;
	padding-left: 10px;
	display: flex;
	gap: 10px;
}

.landing button:hover {
	border: 1px solid transparent;
	background: var(--color-red) url("/assets/btnAnim2.png");
	transition-delay: 0.8s;
	background-size: 180px;
	color: black !important;
	animation: animate var(--speed-fast) steps(8) forwards;
}

.eleHover:hover img {
	opacity: 1;
	transition-property: all;
	transition-duration: 0.5s;
	transition-delay: 750ms;
}

.landing button:last-of-type {
	border: 1px solid var(--color-purple);
}

.landing img {
	pointer-events: none;
	user-select: none;
}

.noSelect {
	pointer-events: none;
	user-select: none;
}

.mono {
	font-family: "Space Mono", sans-serif;
}

.orbitron {
	font-family: "Orbitron", sans-serif;
	font-variant-numeric: tabular-nums;
}

.mont {
	font-family: "Montserrat", sans-serif;
}

.outfit {
	font-family: "Outfit", sans-serif;
}

.fadeInEle {
	animation: fadeIn var(--speed-normal) forwards;
	animation-delay: 500ms;
}

*::-webkit-scrollbar {
	display: none;
}

.landing div::-webkit-scrollbar {
	display: none !important;
	-ms-overflow-style: none !important; /* IE and Edge */
	scrollbar-width: none !important;
}

.landing::-webkit-scrollbar {
	display: none !important;
	-ms-overflow-style: none !important; /* IE and Edge */
	scrollbar-width: none !important;
}

@keyframes animate {
	0% {
		background-position-y: 0;
	}
	100% {
		background-position-y: -480px;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		transform: translateY(-30px);
		opacity: 1;
	}
}

.grecaptcha-badge {
	display: none;
}

@media only screen and (max-width: 600px) {
	body{
		width: 100vw !important;
		height: 100vh !important;
		overflow: hidden;
	}
	.mobileView span{
		font-size: 3.3rem;
	}
	.mobileImg{
		display: none;
	}
	.mobileText{
		font-size: 1rem;
	}

	.mobileNav div{
		font-size: 1rem;
	}

	.mobileNav{
		gap: 8px;
		align-items: center;
	}
	.mobileNav div:first-child{
		font-size: 1.1rem;
		margin-bottom: 4px;
	}

	.mobileNav div:not(:first-child){
		font-size: 0.8rem;
		margin-right: 10px;
	}

  }